@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>GlobalHckerNews</p>
</div>
<div>
    <p>このページでは、世界の重要ニュースとテックニュースの中でも非常に重要な情報だけを絞ってお届けします。</p>
</div>

<a href="https://www.google.co.jp/">Google</a>

<input type="button" value="Check" onclick="myfunc()">

<script>
    var myfunc = function () {
      console.log("Hello world!");
    }
</script>